<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Me.Amon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Me.Amon.Properties.Settings>
      <setting name="LocX" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LocY" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Pattern" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Emotion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PlugIns" serializeAs="String">
        <value>True</value>
      </setting>
    </Me.Amon.Properties.Settings>
  </userSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true"></defaultProxy>
  </system.net>
</configuration>