<?xml version="1.0" encoding="utf-8"?>
<Amon version="1">
  <!--运行时加载类库-->
  <Libs>
    <!--指定相对于程序运行目录的动态链接库-->
    <Lib Id="demo-lib" Path="Lib\Demo.dll"/>
  </Libs>

  <!--可重复使用的图标资源-->
  <Icons>
    <Icon Id="new-icon" Path="Skin\new.png"/>
    <Icon Id="open-icon" Path="Skin\open.png"/>
  </Icons>

  <!--可重复使用的Action对象-->
  <Actions>
    <!--使用系统已有的类-->
    <Action Id="hind-action" Class="Amon.HideAction"/>
    <!--通过LibId指定特定类库中的类-->
    <Action Id="demo-action" Class="Demo.DemoAction" LibId="demo-lib"/>
  </Actions>

  <!--系统快捷键-->
  <Strokes Id="APwd">
    <!--
      定义系统快捷键、对应的Action及快捷键功能说明
      ^ Ctrl Control 表示Control组合键
      # Alt 表示Alt组合键
      ~ Shift 表示Shift组合键
    -->
    <Stroke Key="^ H" ActionId="hind-action" Memo="隐藏窗口"/>
    <Stroke Key="# D" ActionId="demo-action" Memo="演示示例"/>
  </Strokes>

  <!--选单栏-->
  <Menubar Id="APwd">
    <Menu Id="file" Text="文件(&amp;F)">
      <!--
        选单项，其类型目前支持如正类型：
        1、normal(普通菜单)：不会自行切换选中状态；
        2、toggle(复选菜单)：自行切换选中状态，配合Group属性可以实现单选效果；
      -->
      <Item Type="normal" Text="打开(&amp;O)" Tips="打开文件">
        <!--内部Action，不可重用-->
        <Action Class="Demo.OpenAction" LibId="demo-lib"/>
        <!--内部快捷键，不可重用-->
        <Stroke Key="^ O" Memo="打开文件"/>
        <!--选单项图标，var标识使用皮肤配置文件中的键值，也可以直接指定文件路径-->
        <Icon Path="var:open-icon"/>
      </Item>
      <!--分隔线，可以指定ID用于代码的访问-->
      <Line/>
      <Item Type="normal" Text="退出(&amp;X)" Tips="退出系统" ActionId="exit-action">
        <!--同一个Action可以支持多个快捷键-->
        <Stroke Key="^ Q" Memo="退出系统"/>
        <Stroke Key="^ W" Memo="退出系统"/>
        <!--选单项图标，var标识使用皮肤配置文件中的键值，也可以直接指定文件路径-->
        <Icon Path="var:exit-icon"/>
      </Item>
    </Menu>
    <Menu Id="edit" Text="编辑(&amp;E)">
      <Item Type="normal" Text="撤消" ActionId="edit-undo-action">
        <Stroke Key="^ Z" Memo="撤销最后一次更改"/>
      </Item>
      <Item Type="normal" Text="重复" ActionId="edit-redo-action">
        <Stroke Key="^ Y" Memo="重复上一次操作"/>
      </Item>
      <Line/>
      <Menu Text="其它">
        <Item Type="normal" Text="剪切" ActionId="edit-cut-action">
          <Stroke Key="^ X" Memo="剪切选择的内容"/>
        </Item>
        <Item Type="normal" Text="复制" ActionId="edit-copy-action">
          <Stroke Key="^ C" Memo="复制选择的内容"/>
        </Item>
        <Line/>
        <Item Type="normal" Text="粘贴" ActionId="edit-paste-action">
          <Stroke Key="^ V" Memo="粘贴"/>
        </Item>
      </Menu>
    </Menu>
  </Menubar>

  <!--工具栏-->
  <Toolbar Id="APwd">
    <Item Type="normal" Tips="新建" IconId="new-icon" ActionId="new-action"/>
    <Line Id=""/>
    <Item Type="normal" Tips="关于" ActionId="about-action">
      <Icon Path="var:about-icon"/>
    </Item>
  </Toolbar>

  <!--弹出选单，可以有多个-->
  <Popmenu Id="APwd">
    <Item Type="normal" Tips="新建" IconId="new-icon" ActionId="file-new"/>
    <Line Id=""/>
    <Menu Text="标记">
      <Item Type="toggle" Text="正常" Group="status-group" ActionId="status-action" Command="normal">
        <Icon Path="Skin\icon0.png"/>
      </Item>
      <Line/>
      <Item Type="toggle" Text="禁用" Group="status-group" ActionId="status-action" Command="disabled">
        <Icon Path="Skin\icon1.png"/>
      </Item>
    </Menu>
  </Popmenu>
</Amon>