<?xml version="1.0" encoding="utf-8"?>
<Amon>
  <App>APwd</App>
  <Ver>1</Ver>
  <Apps>
	<App type="app" Id="ASec" Logo="" Uri="Me.Amon.Sec.ASec" Text="加密器" Tips=""/>
	<App type="app" Id="ABar" Logo="" Uri="Me.Amon.Bar.ABar" Text="二维码" Tips=""/>
	<App type="app" Id="ASql" Logo="" Uri="Me.Amon.Sql.ASql" Text="数据库管理" Tips=""/>
	<App type="app" Id="AIco" Logo="" Uri="Me.Amon.Ico.AIco" Text="图标编辑器" Tips=""/>
	<App type="app" Id="ASec" Logo="" Uri="" Text="" Tips=""/>
	<App type="exe" Id="" Logo="" Uri="" Text="" Tips="" Arg=""/>
	<App type="dir" Id="" Logo="" Uri="" Text="" Tips=""/>
  </Apps>
</Amon>