<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Me.Amon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Me.Amon.Properties.Settings>
            <setting name="OwnerName" serializeAs="String">
                <value>阿木</value>
            </setting>
            <setting name="RobotName" serializeAs="String">
                <value>小木</value>
            </setting>
            <setting name="TrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Me.Amon.Properties.Settings>
    </userSettings>
</configuration>