body
{
	background: url(  "../../_images/42050000/bg.png" ) repeat-x scroll 0 0 #FFFFFF;
	color: #444444;
	font-family: Georgia,Times New Roman,Trebuchet MS;
	font-size: 14px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
}
#CodeHead
{
	height: 100px;
	margin: 0;
}
#CodeGuid
{
	height: 46px;
}
#CodeBody
{
}
#CodeFoot
{
	background: none repeat scroll 0 0 #444444;
	border-top: 10px solid #CC3300;
	clear: both;
	color: #FFFFFF;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
.USERAREA
{
	border:solid 1px #CCC;
}
.TB_CODEITEM
{
	border: dashed 1px #CCCCCC;
	background-color: #F6F6F6;
}
