.TB_EXTSINFO
{
    border: solid 1px #CCCCCC;
}
.TD_TAB_D
{
    height: 18px;
    background-color: #DDDDDD;
}
.TD_TAB_E
{
    height: 18px;
    background-color: #80BFFF;
}
.TD_TAB_S
{
    height: 18px;
    background-color: #CCFF66;
}
.A_TAB_O
{
    color: #FF9933;
    text-decoration: none;
}
.IMG_EXTSICON
{
    border: solid 1px #99CC00;
}
.ICON_VIEW
{
	position:absolute;
	/*top:0px;
	left:0px;*/
	background:#fff9e3;
	border:1px solid #fadc80;
	margin:0px;
	padding:4px 4px 4px 4px;
	z-index:1001;
}